<%-include("../navbar.ejs")%>
<%-include("../header.ejs")%>
    <div class="container-fluid heading">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit We Work With</h2>
            </div>
        </div>
    </div>


    <form action="/update_contact_www" method="post" enctype="multipart/form-data" class="mt-5  mb-5">
    <div class="container">
        <div class="row">
            <input type="hidden" name="contact_www_id" value="<%=contact_www_info[0].contact_www_id%>">
            <div class="col-md-6">
                <label for="">Company Name</label>
                <input type="text" name="company_name" class="form-control"  value="<%=contact_www_info[0].company_name%>" >
            </div>
            <div class="col-md-6">
                <label for="">Company Logo</label>
                <input type="file" name="company_logo" class="form-control"  value="<%=contact_www_info[0].company_logo%>" required >
                <p>*Note - file must be png</p>
            </div>
           

            <div class="col-md-12 text-center">
                <button class="btn bg-">Update</button>
            </div>
        </div>
    </div>
</form>

<%-include("../footer.ejs")%>