<%-include("../navbar.ejs")%>
<%-include("../header.ejs")%>
    <div class="container-fluid heading">
        <div class="row">
            <div class="col-md-12">
                <h2>Manage Gallery Images</h2>
            </div>
        </div>
    </div>

    <form action="/update_gallery_image" method="post" enctype="multipart/form-data" class="mt-5  mb-5">
    <div class="container">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-6">
                <input type="hidden" name="gallery_image_id" value="<%=gallery_image_info[0].gallery_image_id%>">
                <label for="">Gallery Image</label>
                <input type="file" name="gallery_image"  class="form-control" value="<%=gallery_image_info[0].gallery_image%>"  required>
            </div>

            <div class="col-md-12 text-center">
                <button class="btn bg-">Update</button>
            </div>
        </div>
    </div>
</form>
  
<%-include("../footer.ejs")%>
