<%-include("../navbar.ejs")%>
    <%-include("../header.ejs")%>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading">Update Meet The Team</h1>
                </div>
            </div>
        </div>
        <form action="/update_about_team_member" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mt-2 mb-1">
                        <input type="hidden" name="about_team_member_id" id="" value="<%=teams[0].about_team_member_id%>">
                        <label for="slider_button_text">Team Member Name</label>
                        <input type="text" class="form-control" id="slider_button_text" name="member_name"
                            placeholder="Team Member Name" value="<%=teams[0].member_name%>">
                    </div>

                    <div class="col-md-4 mt-2 mb-1">
                        <label for="slider_product_image">Team Member Profession</label>
                        <input type="text" class="form-control" id="slider_product_image" name="member_profession"
                            placeholder="Team Member Profession" value="<%=teams[0].member_profession%>">
                    </div>
                    
                    <div class="col-md-4 mt-2 mb-1">
                        <label for="slider_product_image">Team Member Image</label>
                        <input type="file" class="form-control" id="slider_product_image" name="member_image"
                            placeholder="Counting Number">
                    </div>

                    <div class="col-md-12 mt-2 mb-1 text-center mb-5">
                        <button class="btn btn-primary" type="submit">Update Team Member</button>
                    </div>
                    
                    <div class="col-md-12 mt-2 mb-1 text-center mb-5">
                        <img src="/uploads/admin/<%=teams[0].member_image%>" width="350" alt="">
                    </div>
                </div>
            </div>
        </form>
        <%-include("../footer.ejs")%>
