<%-include("../navbar.ejs")%>
    <%-include("../header.ejs")%>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4 heading">Product Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="/uploads/product/<%=products[0].product_image1%>" class="img-fluid mb-3" alt="Product Image">
            <div class="row">
                <div class="col-md-4">
                    <img src="/uploads/product/<%= products[0].product_image2 %>" class="img-fluid" alt="Product Image 2" style="width: 100%;height: 100px;">
                </div>
                <div class="col-md-4">
                    <img src="/uploads/product/<%= products[0].product_image3 %>" class="img-fluid" alt="Product Image 3" style="width: 100%;height: 100px;">
                </div>
                <div class="col-md-4">
                    <img src="/uploads/product/<%= products[0].product_image4 %>" class="img-fluid" alt="Product Image 4" style="width: 100%;height: 100px;">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2><strong>Product Name:</strong> <%= products[0].product_name%></h2>
            <p><strong>Product Category:</strong> <%= products[0].product_category %></p>
            <p><strong>Product Price:</strong> <%= products[0].product_price %></p>
            <p><strong>Product Size:</strong> <%= products[0].product_size %></p>
            <p><strong>Product Color:</strong> <input type="color" value="<%= products[0].product_color %>"></p>
            <p><strong>Product Information:</strong></p>
            <p><%= products[0].product_information %></p>
        </div>
        <div class="col-md-12 text-center">
            <a href="/order_lists">
            <button class="btn bg-primary">Back</button>
        </a>
    </div>
    </div>
</div>

<%- include("../footer.ejs") %>
