<%-include("../navbar.ejs")%>
    <%-include("../header.ejs")%>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading">Manage New Features</h1>
                </div>
            </div>
        </div>
        <form action="/manage_home_new_features" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-2 mb-1">

                        <label for="slider_heading">New Features Heading</label>
                        <input type="text" class="form-control" id="slider_heading" name="new_features_heading"
                            placeholder="New Features Heading">
                    </div>

                    <div class="col-md-6 mt-2 mb-1">
                        <label for="slider_sub_heading">New Featues Sub Heading</label>
                        <input type="text" class="form-control" id="slider_sub_heading" name="new_features_sub_heading"
                            placeholder="New Featues Sub Heading">
                    </div>
                    <div class="col-md-4 mt-2 mb-1">
                        <label for="slider_product_image">New Features Image</label>
                        <input type="file" class="form-control" id="slider_product_image" name="new_features_image"
                            placeholder="Enter image URL" required>
                    </div>
                    <div class="col-md-12 mt-2 mb-1 text-center mb-5">
                        <button class="btn bg-primary" type="submit">Save New Features</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-striped ">
                        <tr class="bg-primary text-white">
                            <th>Sr No.</th>
                            <th>Action</th>
                            <th>New Features Heading</th>
                            <th>Featues Sub Heading</th>
                            <th>New Features Image</th>
                        </tr>
                        <% for(var i=0;i<new_features.length;i++){%>
                            <tr>
                                <td><%=i+1%></td>
                                <td style="white-space: nowrap;">
                                    <a href="/edit_new_home_features/<%=new_features[i].home_new_features_id%>">
                                        <button class="btn bg-primary btn-sm"><i class="fa fa-edit"></i></button>
                                    </a><a href="/delete_new_home_features/<%=new_features[i].home_new_features_id%>">
                                        <button class="btn bg-danger btn-sm" onclick="return confirm('Are You Sure?')"><i class="fa fa-trash"></i></button>
                                    </a>
                                </td>
                                <td>
                                    <%=new_features[i].new_features_heading%>
                                </td>
                                <td>
                                    <%=new_features[i].new_features_sub_heading%>
                                </td>
                                <td><img src="/uploads/admin/<%=new_features[i].new_features_image%>" alt="" width="100">
                                </td>
                            </tr>
                            <%}%>
                    </table>
                </div>
            </div>
        </div>
   
        <%-include("../footer.ejs")%>