<%-include("../navbar.ejs")%>
    <%-include("../header.ejs")%>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="heading">Manage Client Says</h1>
                </div>
            </div>
        </div>
        <form action="/manage_client_says" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt-2 mb-1">

                        <label for="slider_heading">Client Name</label>
                        <input type="text" class="form-control" id="slider_heading" name="client_name"
                            placeholder="Client Name">
                    </div>

                    <div class="col-md-6 mt-2 mb-1">
                        <label for="slider_sub_heading">Client Profession</label>
                        <input type="text" class="form-control" id="slider_sub_heading" name="client_profession"
                            placeholder="Client Profession">
                    </div>

                    <div class="col-md-6 mt-2 mb-1">
                        <label for="slider_button_text">What Client Says</label>
                        <textarea type="text" class="form-control" rows="1" id="slider_button_text" name="what_client_says"
                            placeholder="What Client Says"></textarea>
                    </div>

                    <div class="col-md-6 mt-2 mb-1">
                        <label for="slider_product_name">Client Image</label>
                        <input type="file" class="form-control" id="slider_button_text" name="client_image"
                        placeholder="Enter button text" required>
                    </div>
                    <div class="col-md-12 mt-2 mb-1 text-center mb-5">
                        <button class="btn btn-primary" type="submit">Save Client Says</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover table-striped ">
                        <tr class="bg-primary text-white">
                            <th>Sr No.</th>
                            <th>Action</th>
                            <th>Client Name</th>
                            <th>Client Profession</th>
                            <th>Client Says</th>
                            <th>Client Image</th>

                        </tr>
                        <% for(var i=0;i<clients.length;i++){%>
                            <tr>
                                <td><%=i+1%></td>
                                <td style="white-space: nowrap;">
                                    <a href="/edit_home_client_says/<%=clients[i].home_client_says_id%>">
                                        <button class="btn bg-primary btn-sm"><i class="fa fa-edit"></i></button>
                                    </a><a href="/delete_home_client_says/<%=clients[i].home_client_says_id%>">
                                        <button class="btn bg-danger btn-sm" onclick="return confirm('Are You Sure?')"><i class="fa fa-trash"></i></button>
                                    </a>
                                </td>
                                <td>
                                    <%=clients[i].client_name%>
                                </td>
                                <td>
                                    <%=clients[i].client_profession%>
                                </td>
                                <td>
                                    <%=clients[i].what_client_says%>
                                </td>
                                <td><img src="/uploads/admin/<%=clients[i].client_image%>"  alt="" width="100">
                                </td>
                            </tr>
                            <%}%>
                    </table>
                </div>
            </div>
        </div>
        <%-include("../footer.ejs")%>